@mixin custom-properties() {
	--wp-oembed-blog-card--background-color: #fff;
	--wp-oembed-blog-card--border: none;
	--wp-oembed-blog-card--border-radius: 6px;
	--wp-oembed-blog-card--color: #333;
	--wp-oembed-blog-card--box-shadow: 0 0 35px 0 rgba(0, 0, 0, .1);
	--wp-oembed-blog-card--direction: row-reverse;
	--wp-oembed-blog-card--gap: 1em;
	--wp-oembed-blog-card--padding: 1em;
	--wp-oembed-blog-card--content--gap: .5em;
	--wp-oembed-blog-card--figure--basis: min(33%, 200px);
	--wp-oembed-blog-card--figure--aspect-ratio: 4 / 3;
	--wp-oembed-blog-card--body--min-width: 60%;
	--wp-oembed-blog-card--transition-duration: .2s;
	--wp-oembed-blog-card--transition-function-timing: ease-out;
}

@mixin wrapper() {
	background-color: var(--wp-oembed-blog-card--background-color);
	box-shadow: var(--wp-oembed-blog-card--box-shadow);
	border-radius: var(--wp-oembed-blog-card--border-radius);
	color: var(--wp-oembed-blog-card--color);
	overflow: hidden;
	transition: all var(--wp-oembed-blog-card--transition-duration) var(--wp-oembed-blog-card--transition-function-timing);
}

@mixin wp-oembed-blog-card() {
	&.wp-oembed-blog-card-url-template {
		--wp-oembed-blog-card--direction: row;
	}

	border: var(--wp-oembed-blog-card--border);

	> a,
	> span {
		display: flex;
		flex-wrap: wrap;
		gap: var(--wp-oembed-blog-card--gap);
		flex-direction: var(--wp-oembed-blog-card--direction);
		color: inherit;
		text-decoration: none;
		overflow: hidden;
		padding: var(--wp-oembed-blog-card--padding);
	}

	&__figure {
		flex: 1 1 var(--wp-oembed-blog-card--figure--basis);
		align-self: center;
		overflow: hidden;

		img {
			aspect-ratio: var(--wp-oembed-blog-card--figure--aspect-ratio);
			object-fit: cover;
			object-position: 50% 50%;
			height: 100%;
			width: 100%;
		}
	}

	&__body {
		flex: 999 1 0%;
		min-width: var(--wp-oembed-blog-card--body--min-width);
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	&__content {
		margin-top: auto;
		margin-bottom: auto;

		> * + * {
			margin-top: var(--wp-oembed-blog-card--content--gap);
		}
	}

	&__title {
		font-weight: bold;
	}

	&__description {
		font-size: .9em;
	}

	&__domain {
		margin-top: 1.5em;
		display: flex;
		align-items: center;
		font-size: 12px;
	}

	&__favicon {
		height: 13px;
		width: 13px;
		object-fit: contain;
		margin-right: .5em;
	}
}

.is-provider-wp-oembed-blog-card .wp-block-embed__wrapper,
.wp-oembed-blog-card {
	@include custom-properties();
	@include wrapper();
}

.wp-oembed-blog-card {
	@include wp-oembed-blog-card();
}

.is-provider-wp-oembed-blog-card {
	.components-sandbox {
		pointer-events: none;
		vertical-align: top;
	}
}

// @todo WordPress 5.9 iframed content hack.
// https://github.com/WordPress/gutenberg/blob/f2161e246b9fdd9a2a56e7552b0b28050f1a5302/packages/block-editor/src/components/iframe/index.js#L70-L74
html :where(.editor-styles-wrapper) {
	display: block;
}
