.wp-oembed-blog-card {
  box-shadow: 0 0 4px 0 rgba(#000, .1);
  border-radius: 4px;
  overflow: hidden;
  transition: all .2s ease-out;

  @media (min-width: 1024px) {
    &:hover, &:active, &:focus {
      box-shadow: 0 1px 6px 0 rgba(#000, .1);
    }
  }

  > a,
  > span {
    display: block;
    color: #000;
    padding: 1em;
    text-decoration: none;
    overflow: hidden;
  }

  &__figure {
    float: right;
    position: relative;
    margin-left: 1em;
    width: 40%;
    overflow: hidden;

    @media (min-width: 481px) {
      width: 20%;
    }

    &::before {
      content: '';
      display: block;
      padding: 75% 0 0;
    }

    img {
      position: absolute;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);

      @supports (object-fit: cover) {
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transform: none;
      }
    }
  }

  &__body {
    overflow: hidden;
  }

  &__title {
    font-weight: bold;
  }

  &__description {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;

    @media (min-width: 481px) {
      display: block;
    }
  }

  &__domain {
    margin-top: 15px;
    clear: both;
    color: #999;
    font-size: 12px;
    padding-top: 5px;
  }

  &__favicon {
    position: relative;
    top: -1px;
    height: 13px;
    margin-right: 3px;
  }
}
